<div class="slides">
	<div class="slide one">
		<h1>Slide One</h1>
		<h3>Press Arrow keys to move up, down</h3>
	</div>
	<div class="slide two">
		<h1>Slide Two</h1>
		<h3>Press Arrow keys to move up, down</h3>
	</div>
	<div class="slide three">
		<h1>Slide Three</h1>.
		<h3>Press Arrow keys to move up, down</h3>
	</div>
	<div class="dots">
		<button class="active" onclick="scrollpage('.one')"></button>
		<button onclick="scrollpage('.two')"></button>
		<button onclick="scrollpage('.three')"></button>
	</div>
</div>