$white: white;
$black: #1f1f1f;
$lightblack: #7a7a7a;
$navbar-text: #338fff;
$navbar-text-hover: #ff8000;
$navbar-header: #ff8000;
$navbar-header-hover: #338fff;
$navbar-background: #f7f3f3;
$drawer-handle-color: #338fff;
$navbar-font: "Open Sans", sans-serif;

html, body {
    margin: 0px;
    padding: 0px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.navbar * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar *:before,
.navbar *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar {
    font-family: $navbar-font;
    font-weight: 400;
    font-size: 14px;
    position: fixed;
    z-index: 2;
    top: 0px;
    width: 100%;
    letter-spacing: 0.1em;
    background-color: $navbar-background;

    a {
        text-decoration: none;
        color: $navbar-text;

        &:hover {
            color: $navbar-text-hover;
        }
    }

    &.open {
        background-image: none;
    }

    #menu {
        padding: 25px;

        a {
            margin-left: 25px;
        }
    }

    #logo {
        a {
            color: $navbar-header;

            &:hover {
                color: $navbar-header-hover;
            }
        }

        padding: 25px;
        float: left;
    }
}

.drawer {
    display: none;

    .drawer-handle {
        span {
            position: absolute;
            cursor: pointer;
            height: 1px;
            width: 28px;
            background: $drawer-handle-color;
            position: absolute;
            display: block;
            content: '';
            top: 0px;

            &:before, &:after {
                cursor: pointer;
                height: 1px;
                width: 28px;
                background: $drawer-handle-color;
                position: absolute;
                display: block;
                content: '';
                top: 0px;
            }

            &:before {
                left: 7px;
            }
        }

        position: fixed;
        left: 23px;
        top: 27px;
        z-index: 10;
        width: 30px;
        height: 35px;
        cursor: pointer;

        span {
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;

            &:after {
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                -ms-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                transition: all 0.2s ease;
                top: 12px;
            }

            &:before {
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                -ms-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                transition: all 0.2s ease;
                top: 6px;
            }
        }
    }

    .drawer-handle.open {
        span {
            transform: translateX(7px);

            &:before {
                transform: translateX(-14px);
            }

            &:after {
                transform: translateX(0px);
            }
        }
    }
}

.dropdown-menu {
    position: fixed;
    z-index: 2;
    transform: translateY(-100%);
    width: 100%;
    padding: 25px;
    padding-top: 40px;

    //background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    //background-image: linear-gradient(to top, #FFE6FA 0%,#E3FDF5 100%);
    //background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    background-image: linear-gradient(to bottom, #ace0f9 0%, #ffffff 100%);

    //background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    transition: 400ms;
    text-align: center;
    font-family: $navbar-font;
    font-weight: 300;

    a {
        letter-spacing: 0.1em;
        display: block;
        padding: 15px 0px;
        margin-bottom: 10px;
    }

    &.open {
        transform: translateY(0%);
    }
}

@media (max-width: 700px) {
    .navbar {
        #menu {
            display: none;
        }

        #logo {
            float: right;
        }
    }

    .drawer {
        display: block;
    }
}

@media (min-width: 701px) {
    .dropdown-menu {
        display: none;
    }
}