<div class="cards">
	<div class="card">
		<a>
			<div class="cover">
				<img src="4.png">
			</div>
			<div class="description">
				<div class="title">Journal2017</div>
				<div class="created">Created on 1 jan 2017</div>
				<div class="summary">This is a short description about this journal</div>
				<button class="btn1">Open</button>
			</div>
		</a>
	</div>
	<div class="card">
		<a>
			<div class="cover">
				<img src="1.jpg">
			</div>
			<div class="description">
				<div class="title">Ideas</div>
				<div class="created">Created 1 jan 2017</div>
				<div class="summary">Duis consequat nunc ac augue dapibus tincidunt a ac lectus. Nulla volutpat porttitor risus, ac interdum diam efficitur nec. Vivamus egestas porta est nec fermentum. Duis accumsan nulla eget orci iaculis congue. Donec id urna eget nisi pulvinar eleifend.</div>
				<button class="btn1">Open</button>
			</div>
		</a>
	</div>
	<div class="card">
		<a>
			<div class="cover">
				<img src="3.png">
			</div>
			<div class="description">
				<div class="title">Journal2016</div>
				<div class="created">created 1 jan 2017</div>
				<div class="summary">This is a short description about this journal</div>
				<button class="btn1">Open</button>
			</div>
		</a>
	</div>
	<div class="card">
		<a>
			<div class="cover">
				<img src="2.jpg">
			</div>
			<div class="description">
				<div class="title">To do list</div>
				<div class="created">Created on 1 jan 2017</div>
				<div class="summary">This is a short description about this journal</div>
				<button class="btn1">Open</button>
			</div>
		</a>
	</div>
	<div class="card">
		<a>
			<div class="cover">
				<img src="user.jpeg">
			</div>
			<div class="description">
				<div class="title">New Book</div>
				<div class="created">Created on 1 jan 2017</div>
				<div class="summary">This is a short description about this journal</div>
				<button class="btn1">Open</button>
			</div>
		</a>
	</div>
</div>